@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');
body {
	background: #111;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0px;
	align-items: center;
}
.msg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
p {
	font-family: Roboto;
}
.info {
	color: #FFF;
	max-width: 600px;
	text-align: center;
	margin: 35px 0px 0px 0px;
}
.lds-dual-ring {
	display: inline-block;
	width: 160px;
	height: 160px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 128px;
	height: 128px;
	margin: 16px;
	border-radius: 50%;
	border: 12px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}